nav ul {
  list-style: none;
  background-color: #00008B;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}


nav ul li a {
  display: block;
  color: #FED000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


nav ul li a:hover {
  background-color: #555
}
